# Server
NODE_ENV=development
PORT=3000
FRONTEND_URL=http://localhost:5173
ENABLE_LOCAL_CRON=true
INTERNAL_JOB_SECRET=GANTI_SECRET_TRIGGER_JOB

# Database
DATABASE_URL=postgresql://user:password@host/database?sslmode=require
PGSSLMODE=require

# JWT
JWT_SECRET=GANTI_INI_DENGAN_STRING_RANDOM_64_KARAKTER
JWT_EXPIRY_ADMIN=24h
JWT_EXPIRY_VOTER=2h

# WhatsApp - Fonnte
WA_PROVIDER=fonnte
WA_API_URL=https://api.fonnte.com
WA_API_KEY=ISI_API_KEY_FONNTE_KAMU
WA_RATE_LIMIT=20
WA_WEBHOOK_SECRET=ISI_SECRET_UNTUK_VERIFY_WEBHOOK

# Upload
UPLOAD_DIR=./uploads
MAX_FILE_SIZE_MB=2

# Election defaults
TOKEN_EXPIRY_DAYS=7

# CORS
ALLOWED_ORIGINS=http://localhost:5173

# Logging
LOG_LEVEL=info
LOG_DIR=./logs
